{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/movie/css/style.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/movie/js/lib/jquery-bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/movie/js/movie.js') }}"></script>
{% endblock %}
{% block title %}Movies{% endblock %}

{% block body %}
    <section class="parent">
        <header>
            <h1>Movie Database</h1>
            <h3>
                A basic movie database as a practical test
            </h3>
            <hr />
            <strong>
                Add new movie to the database
            </strong>
        </header>
        <section class="jumbotron">
            {{ form_start(data.form, {'action': path('save_movie'), 'method': 'POST', 'attr': {novalidate: 'novalidate', 'data-refresh-url' : path('get_movies')}}) }}

            <section class="first-row">
                <div class="control-group title">
                    <div class="controls">
                        {{ form_widget(data.form.title) }}
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group year">
                    <div class="controls">
                        {{ form_widget(data.form.year) }}
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group rating">
                    <div class="controls">
                        {{ form_widget(data.form.rating) }}
                        <p class="help-block"></p>
                    </div>
                </div>
            </section>

            <div class="control-group description">
                <div class="controls">
                    {{ form_widget(data.form.description) }}
                    <p class="help-block"></p>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Add movie</button>
            {{ form_end(data.form) }}
        </section>
    </section>
    {% include 'MovieBundle:Movie:list.html.twig' %}
{% endblock %}