<section class="list">
    <div class="count">
        <span class="total">Total:</span>{{ data.movies.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Year
                </th>
                <th>
                    Rating
                </th>
                <th>
                    IP
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for movie in data.movies %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    {{ movie.title }}
                </td>
                <td>
                    {{ movie.year }}
                </td>
                <td>
                    {{ movie.rating }}
                </td>
                <td>
                    {{ movie.ipPublisher }}
                </td>
                <td>
                    {{ movie.description }}
                </td>
                <td>
                    <a class="ajax-delete" href="{{ path('delete_movie', {'id': movie.id}) }}">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(data.movies) }}
    </div>
</section>