.parent {
    max-width: 800px;
    padding: 0 5px;
}

.jumbotron {
    padding: 35px 5px;
    width: 646px;
}

.control-group {
    display: inline-block;
}

.control-group.description {
    display: inline-block;
    margin: 0;
}

.control-group.description .help-block {
    top: 121px
}

.first-row {
    margin-bottom: 35px;
}

form button {
    position: relative;
    top: -66px;
}

.controls {
    position: relative;
}

.controls .help-block {
    position: absolute;
    top: 32px;
    width: 180px;
}

.controls .help-block ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.controls textarea {
    resize: none;
}

.control-group.error .help-block {
    color: #aa3333;
}

.list table {
    width: 800px;
}